/* generics */ 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* utilities */

.w-80{
    width: 80%;
}

.w-100{
    width: 100%;
}






/* content */

.container{
    margin: 0 auto;
}





