/* generics */ 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

/* utilities */

.btn{
    border: 0;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 15px;
    margin-left: 10px;
}

.bg-blue{
    background-color: rgba(0,132,255,255);
}

.green{
    background-color: #caf0db;
    color: #54c688;
}

.red{
    background-color: #fed2d1;
    color: #fe8a8a;
}

.orange{
    background-color: #ffe7c3;
    color: #fec166;
}

.violet{
    background-color: #d5d4f4;
    color: #9692e6;
}


.pa-10{
    padding: 10px;
}

.pa-20{
    padding-left: 20px;
}


.col-blue{
    color: rgba(0,132,255,255);
}

.font-special-card{
    font-size: 12px;
    line-height: 20px;
}

.font-card{
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 50px;
    width: 80%;
}

.images-from{
    font-size: 8px;
    text-align: center;
    margin: 15px 0px 25px;

}

#txt-start{
    text-align: start;
}



/* content */

.container{
    margin: 0 auto;
    padding: 0;
}

.container-small{
    margin: 0 50px;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0,132,255,255);
    padding: 10px 60px;
}

main section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}


main img{
    width: 100%;
    padding: 10px 30px;
}

.special-card{
    background-color: #b9ddff;
    border-radius: 10px;
    padding: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding-top: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.planning{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: #9692e6;
    color: white;
}

.planning > * {
    line-height: 20px;
    
}

.planning img{
    padding: 50px 30px;
}

.development{
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: white;
    border-radius: 100px;
    color: black;
}

.development > * {
    line-height: 20px;
    text-align: center;
}

.development img{
    padding: 50px 30px;
}

.round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    align-self: center;
    padding: 15px;
    border-radius: 100px;
    margin-bottom: 30px;
}









